- if user_signed_in?
  = form_with model: @peep do |form|
    .field
      .control
        = form.text_area :chirp, cols: 40, rows: 3, placeholder: "Create new peep", spellcheck: true, class: "textarea has-fixed-size", autofocus: true
    = form.submit class: "button is-info"
- else
  .control
    %textarea.textarea.has-fixed-size{cols: 40, rows: 3, placeholder: "Sign in to create new peep", disabled: true}
