.container.column.is-one-quarter
  %nav.panel
    %p.panel-heading
      Fads
    %a.panel-block
      Fad 1
    %a.panel-block
      Fad 2
    %a.panel-block
      Fad 3
    %a.panel-block
      Fad 4
    %a.panel-block
      Fad 5
    %a.panel-block
      Fad 6
