.container.column.is-one-quarter
  %nav.panel
    %p.panel-heading
      What's up
    %a.panel-block
      COVID-21 Savage
    %a.panel-block
      Biden in coma
    %a.panel-block
      Pigs fly over Russia
    %a.panel-block
      MLB's First Female Player Signs 2-year Contract
    %a.panel-block
      Texas and Florida Declare Independence
    %a.panel-block
      Puerto Rico Becomes 49th State
