.column
  %nav.panel
    %p.panel-heading
      Who to flock with
  .panel-block
    %article.media
      .media-left
        %figure.image.is-32x32
          %img{src: "https://bulma.io/images/placeholders/32x32.png"}
      .media-content
        %a.content.has-text-info
          %p
            %strong
              Jimmy Dean
            %small
              @jimmyjamesdean
  .panel-block
    %article.media
      .media-left
        %figure.image.is-32x32
          %img{src: "https://bulma.io/images/placeholders/32x32.png"}
      .media-content
        %a.content.has-text-info
          %p
            %strong
              Howard Johnson
            %small
              @howjohnson
  .panel-block
    %article.media
      .media-left
        %figure.image.is-32x32
          %img{src: "https://bulma.io/images/placeholders/32x32.png"}
      .media-content
        %a.content.has-text-info
          %p
            %strong
              Bob Evans
            %small
              @robertevans
  .panel-block
    %article.media
      .media-left
        %figure.image.is-32x32
          %img{src: "https://bulma.io/images/placeholders/32x32.png"}
      .media-content 
        %a.content.has-text-info
          %p
            %strong
              George Foreman
            %small
              @grillmasterko
