.column
  %nav.panel
    %p.panel-heading
      Who to flock with
      - 5.times do
        - user = User.find(rand(1..20))
        .panel-block
          %article.media
            .media-left
              %figure.image.is-32x32
                %img{src: "https://bulma.io/images/placeholders/32x32.png"}
            .media-content
              %a.content.has-text-info
                %p
                  %strong
                    = user.username
                  %small
                    = user.email
